<a href="https://colab.research.google.com/github/AnuragSharma5893/Frission_DevHub_Assignment/blob/main/05_May_Python_Basics(String%2C_set%2C_list%2C_tuple).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# String

1. Write a program to reverse a string.

In [ ]:
def rev_string(s):
  return s[::-1]
string = input("Enter a string: ")
reversed_string = rev_string(string)
print("the reversed string is:", reversed_string)
# print(rev_string(string))

Enter a string: hello world
the reversed string is: dlrow olleh

2. Check if a string is a palindrome (a sequence of characters that reads the same forward and backward)

In [ ]:
def is_palindrome(s):
  s = s.lower()
  return s == s[::-1]  ## comparing original string and its reversed

string = input("Enter a string: ")
if is_palindrome(string):
  print("string is Palindrome Bro!! ðŸ™‚")
else:
  print("The string is not palindrome ðŸ˜”")

Enter a string: madam
string is Palindrome Bro!! ðŸ™‚

3. convert a string to uppercase

In [ ]:
def to_upper(s):
  return s.upper()

string = input("Enter a string: ")
print(to_upper(string))

Enter a string: abcd
ABCD

4. convert a string to lowercase

In [ ]:
def to_lower(s):
  return s.lower()

string = input("Enter a string: ")
print(to_lower(string))

Enter a string: ABCD
abcd

5. Count the no. of vowels in a string

In [ ]:
def count_vowels(string):
  vowels = "aeiouAEIOU"
  count = 0 # vowel count
  for char in string:
    if char in vowels:
      count += 1
  return count

string = input("Enter a string: ")
print(count_vowels(string))

Enter a string: Anurag Sharma
5

6. Count the number of consonants in a string.

In [ ]:
def count_consonent(s):
  vowels = "aeiouAEIOU"
  count = 0
  for char in s:
    if char.isalpha() and char not in vowels: ## it checks wheather all the characters are actually alphabets
      count += 1
  return count

s = input("Enter a string Bro ðŸ˜Ž: ")
num_consonents = count_consonent(s)
print(num_consonents)

Enter a string Bro ðŸ˜Ž: Virat Kholi
6

7. Remove all whitespaces from a string.

In [ ]:
def rm_whitespace(string):
  return string.replace(" ", "")

string = input("Enter a string: ")
print(rm_whitespace(string))

Enter a string: My name is Anurag Sharma
MynameisAnuragSharma

8. Find the length of a string without using the `len()` function.

In [ ]:
def string_len(s):
  count = 0
  for char in s:
    if char != " ":
      count += 1
  return count

s = input("Enter a string: ")
print(string_len(s))

Enter a string: Light Yagami
11

9. Check if a string contains a specific word.

In [ ]:
def contains_word(text, word):
  # return word in text
    return word.lower() in text.lower()

text = input("Enter the text: ")
word = input("Enter the word to check: ")
if contains_word(text, word):
  print(f"The text contains the word '{word}'.")
else:
  print(f"The text does not contain the word '{word}'.")

Enter the text: Anurag Sharma
Enter the word to check: anu
The text contains the word 'anu'.

10. Replace a word in a string with another word.

In [ ]:
def replace_word(s, new_word, old_word):
  return s.replace(old_word, new_word)
s = input("Enter a string: ")
new_word = input("Enter the new word: ")
old_word = input("Enter the old word: ")
print(replace_word(s, new_word, old_word))

Enter a string: Anu
Enter the new word: Manu
Enter the old word: Anu
Manu

11. Count the occurrences of a word in a string.

In [ ]:
def count_occurence(s, word):
  return s.count(word)

s = "Anurag Sharma is Anurag SharmaAnurag"
word = "Anurag"
print(count_occurence(s,word))

3

12. Find the first occurrence of a word in a string.

In [ ]:
def first_occurence(s, word):
  try:
    return s.index(word)
  except ValueError:
    return -1

s = input("Enter a string: ")
word = input("Enter the word to search for: ")

index = first_occurence(s,word)
if index != -1:
  print(f"The first occurence of '{word}' is at index {index} ðŸ™‚. ")
else:
  print(f"The word '{word}' is not found bro in the string ðŸ˜” ")

Enter a string: Anurag
Enter the word to search for: u
The first occurence of 'u' is at index 2 ðŸ™‚.

13. Find the last occurrence of a word in a string.

In [ ]:
def last_occurence(s, word):
  try:
    return s.rindex(word)
  except ValueError:
    return -1

s = input("Enter a string: ")
word = input("Enter the word to search for: ")

index = last_occurence(s,word)
if index != -1:
  print(f"The last occurence of '{word}' is at index {index} ðŸ™‚. ")
else:
  print(f"The word '{word}' is not found bro in the string ðŸ˜” ")

Enter a string: hello mike hello
Enter the word to search for: hello
The last occurence of 'hello' is at index 11 ðŸ™‚.

14. Split a string into a list of words.

In [ ]:
def split_string(string):
  return string.split()

string = "This is a sentence."
words = split_string(string)
print(words)

['This', 'is', 'a', 'sentence.']

15. Join a list of words into a string.

In [ ]:
def join_words(words):
  return " ".join(words)

words = ['This', 'is', 'a', 'sentence.']
string = join_words(words)
print(string)

This is a sentence.

16. Convert a string where words are separated by spaces to one where words are separated by underscores

In [ ]:
def spaces_to_underscores(string):
  return string.replace(" ", "_")

string = "This is a sentence."
underscored_string = spaces_to_underscores(string)
print(underscored_string)

This_is_a_sentence.

17. Check if a string starts with a specific word or phrase.

In [ ]:
def starts_with(string, prefix):
  return string.startswith(prefix)  # startswith return True if the string begins with prefix speciifcally

string = "Hello world"
if starts_with(string, "Hello"):
  print("The string starts with 'Hello'.")
else:
  print("The string does not start with 'Hello'.")

The string starts with 'Hello'.


18. Check if a string ends with a specific word or phrase.

In [ ]:
def ends_with(string, suffix):
  return string.endswith(suffix)

string = "Hello world"
if ends_with(string, "world"):
  print("The string ends with 'world'.")
else:
  print("The string does not end with 'world'.")

The string ends with 'world'.

19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [ ]:
def to_title_case(string):
  return string.title()

string = "hello world"
title_cased_string = to_title_case(string)
print(title_cased_string)

Hello World

20. Find the longest word in a string.

In [ ]:
def find_longest_word(string):
  words = string.split()
  longest_word = max(words, key=len)
  return longest_word

string = "This is a sentence with a long word."
longest_word = find_longest_word(string)
print(longest_word)

sentence

21. Find the shortest word in a string.

In [ ]:
def find_shortest_word(string):
  words = string.split()
  shortest_word = min(words, key=len)
  return shortest_word

string = "This is a sentence with a short word."
shortest_word = find_shortest_word(string)
print(shortest_word)

a

22. Reverse the order of words in a string.

In [ ]:
def reverse_words(string):
  words = string.split()
  reversed_words = words[::-1]
  return " ".join(reversed_words)

string = "This is a sentence."
reversed_string = reverse_words(string)
print(reversed_string)

sentence. a is This

23. Check if a string is alphanumeric.

In [ ]:
def is_alphanumeric(string):
  return string.isalnum()

string = "ThisIsAlphanumeric123"
if is_alphanumeric(string):
  print("The string is alphanumeric.")
else:
  print("The string is not alphanumeric.")

The string is alphanumeric.

24. Extract all digits from a string.

In [1]:
# import re
# The re.findall() function from the re module (regular expressions) is used to find all occurrences of one or more digits (\d+) in the string.
'''def extract_digits(string):
  digits = re.findall(r'\d+', string)
  return "".join(digits)

string = "This string contains 123 digits and 456 more."
digits = extract_digits(string)
print(digits)
'''

def extract_digits(string):
  digits = ''.join(char for char in string if char.isdigit())
  return digits

string = "This string contains 123 digits and 456 more."
digits = extract_digits(string)
print(digits)

123456

25. Extract all alphabets from a string.

In [4]:
'''import re

def extract_alphabets(string):
  alphabets = re.findall(r'[a-zA-Z]+', string)
  return " ".join(alphabets)

string = "This string contains 123 digits and 456 more."
alphabets = extract_alphabets(string)
print(alphabets)'''

def extract_alphabets(string):
    alphabets = ''.join(char for char in string if char.isalpha())
    return alphabets

string = "This string contains 123 digits and 456 more."
alphabets = extract_alphabets(string)
print(alphabets)

Thisstringcontainsdigitsandmore

26. Count the number of uppercase letters in a string.

In [ ]:
def count_uppercase(string):
  count = 0
  for char in string:
    if char.isupper():
      count += 1
  return count

string = "This String Has Uppercase Letters."
uppercase_count = count_uppercase(string)
print(uppercase_count)

5

27. Count the number of lowercase letters in a string.

In [ ]:
def count_lowercase(string):
  count = 0
  for char in string:
    if char.islower():
      count += 1
  return count

string = "This String Has Lowercase Letters."
lowercase_count = count_lowercase(string)
print(lowercase_count)

24

28. Swap the case of each character in a string.

In [ ]:
def swap_case(string):
  return string.swapcase()

string = "This String Has Mixed Case."
swapped_string = swap_case(string)
print(swapped_string)

tHIS sTRING hAS mIXED cASE.

29. Remove a specific word from a string.

In [ ]:
def remove_word(string, word):
  return string.replace(word, "")

string = "This is a sentence with a word to remove."
new_string = remove_word(string, "word")
print(new_string)

This is a sentence with a  to remove.

30. Check if a string is a valid email address.

In [5]:
'''import re

def is_valid_email(email):
  pattern = r"^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
  return bool(re.match(pattern, email))

email = "example@example.com"
if is_valid_email(email):
  print("Valid email address.")
else:
  print("Invalid email address.")'''

def is_valid_email(email):
  if "@" not in email or "." not in email:
    return False

  parts = email.split("@")
  if len(parts) != 2:
    return False

  user, domain = parts # check empty
  if not user or not domain:
    return False

  if "." not in domain:
    return False

  return True

email = "example@example.com"
if is_valid_email(email):
  print("Valid email address.")
else:
  print("Invalid email address.")

Valid email address.

31. Extract the username from an email address string.

In [ ]:
def extract_username(email):
  return email.split("@")[0]

email = "example@example.com"
username = extract_username(email)
print(username)

example

32. Extract the domain name from an email address string.

In [ ]:
def extract_domain(email):
  return email.split("@")[1]

email = "example@example.com"
domain = extract_domain(email)
print(domain)

example.com

33. Replace multiple spaces in a string with a single space.

In [6]:
'''import re

def replace_multiple_spaces(string):
  return re.sub(' +', ' ', string)

string = "This  string  has   multiple    spaces."
new_string = replace_multiple_spaces(string)
print(new_string)'''

def replace_multiple_spaces(string):
  return ' '.join(string.split())

string = "This  string  has   multiple    spaces."
new_string = replace_multiple_spaces(string)
print(new_string)

This string has multiple spaces.

34. Check if a string is a valid URL.

In [7]:
'''import re

def is_valid_url(url):
  pattern = r"^(https?://)?(www\.)?([a-zA-Z0-9-]+)\.([a-zA-Z]{2,})(\S*)?$"
  return bool(re.match(pattern, url))

url = "https://www.google.com"
if is_valid_url(url):
  print("Valid URL.")
else:
  print("Invalid URL.")'''

def is_valid_url(url):
  if not url.startswith('http://') and not url.startswith('https://'):
    return False
  if '.' not in url or len(url.split('.')[-1]) < 2:
    return False
  return True

url = "https://www.google.com"
if is_valid_url(url):
  print("Valid URL.")
else:
  print("Invalid URL.")

Valid URL.

35. Extract the protocol (http or https) from a URL string.

In [8]:
'''import re

def extract_protocol(url):
  match = re.match(r"^(https?://)", url)
  if match:
    return match.group(0)
  else:
    return None

url = "https://www.example.com"
protocol = extract_protocol(url)
print(protocol)'''

def extract_protocol(url):
  parts = url.split("://")
  if len(parts) > 1:
    return parts[0]
  else:
    return None

url = "https://www.example.com"
protocol = extract_protocol(url)
print(protocol)

https

36. Find the frequency of each character in a string.

In [ ]:
from collections import Counter

def char_frequency(string):
  return Counter(string)

string = "This is a string."
frequencies = char_frequency(string)
print(frequencies)

Counter({'i': 3, 's': 3, ' ': 3, 'T': 1, 'h': 1, 'a': 1, 't': 1, 'r': 1, 'n': 1, 'g': 1, '.': 1})

37. Remove all punctuation from a string.

In [9]:
'''import re

def remove_punctuation(text):
    return re.sub(r'[^\w\s]', '', text)

# Example
text = "Hello, world! How's everything?"
clean_text = remove_punctuation(text)
print(clean_text)'''


def remove_punctuation(text):
  punctuations = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''
  no_punct = ""
  for char in text:
    if char not in punctuations:
      no_punct = no_punct + char
  return no_punct

# Example usage
text = "Hello, world! How's everything?"
clean_text = remove_punctuation(text)
print(clean_text)

Hello world Hows everything

39. Check if a string contains only alphabets.

In [ ]:
def is_alpha_only(string):
  return string.isalpha()

string = "ThisStringHasOnlyAlphabets"
if is_alpha_only(string):
  print("The string contains only alphabets.")
else:
  print("The string does not contain only alphabets.")

The string contains only alphabets.

40. Convert a string to a list of characters.

In [ ]:
def string_to_list(string):
  return list(string)

string = "This is a string."
char_list = string_to_list(string)
print(char_list)

['T', 'h', 'i', 's', ' ', 'i', 's', ' ', 'a', ' ', 's', 't', 'r', 'i', 'n', 'g', '.']

41. Check if two strings are anagrams.

In [10]:
#def are_anagrams(str1, str2):
#    return sorted(str1) == sorted(str2)
'''
from collections import Counter

def are_anagrams(str1, str2):
    return Counter(str1) == Counter(str2)

print(are_anagrams("listen", "silent"))
print(are_anagrams("hello", "world"))
'''

def are_anagrams(str1, str2):
    str1 = sorted(str1.lower())
    str2 = sorted(str2.lower())
    return str1 == str2

print(are_anagrams("listen", "silent"))
print(are_anagrams("hello", "world"))

True
False

42. Encode a string using a Caesar cipher.

Note: The Caesar cipher shifts each letter by a fixed number of positions down the alphabet. For letters, we determine the starting position ('a' or 'A'), calculate the shifted position using modular arithmetic, and convert back to a character. For digits, we perform a similar shift modulo 10. Other characters remain unchanged

In [ ]:
def caesar_cipher_encode(text, shift):
    result = ''
    for char in text:
        if char.isalpha():
            start = ord('a') if char.islower() else ord('A')
            shifted_char = chr((ord(char) - start + shift) % 26 + start)
        elif char.isdigit():
            shifted_char = str((int(char) + shift) % 10)
        else:
            shifted_char = char
        result += shifted_char
    return result

text = "Anurag Sharma"
shift = 3
encoded_text = caesar_cipher_encode(text, shift)
print(f"Encoded: {encoded_text}")

Encoded: Dqxudj Vkdupd

43. Decode a Caesar cipher encoded string.

In [ ]:
def caesar_cipher_decode(text, shift):
    # Caesar cipher decoding
    result = ''
    for char in text:
        if char.isalpha():
            start = ord('a') if char.islower() else ord('A')
            shifted_char = chr((ord(char) - start - shift) % 26 + start)
        elif char.isdigit():
            shifted_char = str((int(char) - shift) % 10)
        else:
            shifted_char = char
        result += shifted_char
    return result

text = "Sharma Anurag"
shift = 3
decoded_text = caesar_cipher_decode(text, shift)
print(f"Decoded: {decoded_text}")

Decoded: Pexojx Xkroxd

44. Find the most frequent word in a string.

In [11]:
'''
from collections import Counter

def most_frequent_word(string):
  words = string.lower().split()
  word_counts = Counter(words)
  return word_counts.most_common(1)[0][0]

string = "This is a string with some words and some repeated words."
most_frequent = most_frequent_word(string)
print(most_frequent)
'''

def most_frequent_word(string):
  words = string.lower().split()
  counts = {}
  for word in words:
    if word in counts:
      counts[word] += 1
    else:
      counts[word] = 1

  most_frequent_word = max(counts, key=counts.get)

  return most_frequent_word

string = "This is a string with some words and some repeated words."
most_frequent = most_frequent_word(string)
print(most_frequent)

some

45. Find all unique words in a string.

In [ ]:
def unique_words(string):
  words = string.lower().split()
  return set(words)

string = "This is a string with some words and some repeated words."
unique = unique_words(string)
print(unique)

{'a', 'and', 'some', 'is', 'words.', 'with', 'string', 'words', 'this', 'repeated'}

46. Count the number of syllables in a string.

In [12]:
'''
import re

def count_syllables(string):
  count = 0
  vowels = "aeiouy"
  for word in string.lower().split():
    for char in word:
      if char in vowels:
        count += 1
    # Adjust for silent e at the end
    if word.endswith("e"):
      count -= 1
    # Adjust for consecutive vowels (diphthongs, etc.)
    count -= len(re.findall(r"[aeiouy]{2,}", word))
    # Ensure at least one syllable per word
    if count == 0:
      count = 1
  return count

string = "This is a sentence with multiple syllables."
syllable_count = count_syllables(string)
print(syllable_count)
'''

def count_syllables(word):
    vowels = "aeiouy"
    count = 0

    if word[0] in vowels:
        count += 1

    for index in range(1, len(word)):
        if word[index] in vowels and word[index - 1] not in vowels:
            count += 1

    if word.endswith("e"):
        count -= 1
    if count == 0:
        count = 1
    return count

def count_syllables_in_string(string):
    words = string.lower().split()
    total_syllables = 0
    for word in words:
        total_syllables += count_syllables(word)
    return total_syllables

string = "This is a sentence with multiple syllables."
syllable_count = count_syllables_in_string(string)
print(syllable_count)

11

47. Check if a string contains any special characters.

In [13]:
'''
import re

def contains_special_chars(string):
  pattern = r"[^a-zA-Z0-9\s]"
  return bool(re.search(pattern, string))

string = "This string has special characters!@#$%^&*()"
if contains_special_chars(string):
  print("The string contains special characters.")
else:
  print("The string does not contain special characters.")
'''
def contains_special_chars(string):
  special_chars = "!@#$%^&*()_+=-`~[]\{}|;':\",./<>?"
  for char in string:
    if char in special_chars:
      return True
  return False

string = "This string has special characters!@#$%^&*()"
if contains_special_chars(string):
  print("The string contains special characters.")
else:
  print("The string does not contain special characters.")

The string contains special characters.

48. Remove the nth word from a string.

In [ ]:
def remove_nth_word(string, n):
  words = string.split()
  if 0 < n <= len(words):
    del words[n - 1]
  return " ".join(words)

string = "This is a sentence with words."
new_string = remove_nth_word(string, 3)
print(new_string)

This is sentence with words.

49. Insert a word at the nth position in a string.

In [ ]:
def insert_word(string, word, n):
  words = string.split()
  if 0 <= n <= len(words):
    words.insert(n, word)
  return " ".join(words)

string = "This is a sentence."
new_string = insert_word(string, "new", 2)
print(new_string)

This is new a sentence.

50. Convert a CSV string to a list of lists.



> Add blockquote

In [ ]:
import csv

def csv_to_list(csv_string):
  reader = csv.reader(csv_string.splitlines())
  return list(reader)

csv_string = "Name,Age,City\nAlice,30,New York\nBob,25,London"
data = csv_to_list(csv_string)
print(data)

[['Name', 'Age', 'City'], ['Alice', '30', 'New York'], ['Bob', '25', 'London']]

## **List**

1. Create a list with integers from 1 to 10:

In [ ]:
ls = list(range(1,11))
print(ls)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2. Find the length of a list without using the len() function:

In [ ]:
def list_length(ls):
  count = 0
  for _ in ls:
    count += 1
  return count

ls = [1,2,3,4,5,6,7,8,9,10]
length = list_length(ls)
print(length)

10

3. Append an element to the end of a list:

In [ ]:
ls = [1,2,3,4,5,6,7,8,9,10]
ls.append(11)
print(ls)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

4. Insert an element at a specific index in a list:

In [ ]:
ls = [1,2,4]
ls.insert(2,3)
print(ls)

[1, 2, 3, 4]

5. Remove an element from a list by its value:

In [ ]:
ls = [1,2,3]
del ls[1]
print(ls)

[1, 3]

7. Check if an element exists in a list:

In [ ]:
ls = [1,2,3]
if 2 in ls:
  print("Element exists in the list.")

Element exists in the list.

8. Find the index of the first occurrence of an element in a list:

In [ ]:
ls = [1,2,3,2]
index = ls.index(2)
print(index)

1

9. Count the occurrences of an element in a list:

In [ ]:
count = ls.count(2)
print(count)

2

10. Reverse the order of elements in a list:

In [ ]:
my_list = [1, 2, 3]
my_list.reverse()
print(my_list)

[3, 2, 1]

11. Sort a list in ascending order:

In [ ]:
ls = [3,1,2]
ls.sort()
print(ls)

[1, 2, 3]

12. Sort a list in descending order:

In [ ]:
ls.sort(reverse=True)
print(ls)

[3, 2, 1]

13. Create a list of even numbers from 1 to 20:

In [ ]:
#even_numbers = list(range(2, 21, 2))
even_numbers = [num for num in range(1, 21) if num % 2 == 0]

print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]


14. Create a list of odd numbers from 1 to 20:

In [ ]:
odd_numbers = [num for num in range(1, 21) if num % 2 != 0]
print(odd_numbers)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

15. Find the sum of all elements in a list:

In [ ]:
my_list = [1, 2, 3, 4, 5]
total_sum = sum(my_list)
print(total_sum)

15

16. Find the maximum value in a list:

In [ ]:
ls = [1,2,3,4,5]
max_val = max(ls)
print(max_val)

5

17. Find the minimum value in a list:

In [ ]:
ls = [1,5,3,2,4]
min_val = min(ls)
print(min_val)

1

18. Create a list of squares of numbers from 1 to 10:

In [ ]:
squares = [num**2 for num in range(1, 11)]
print(squares)       # will create a list of squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

19. Create a list of random numbers:

In [ ]:
import random
ran_number = [random.randint(1,100) for _ in range(10)]
print(ran_number)

[87, 97, 82, 41, 36, 44, 18, 41, 86, 52]

20. Remove duplicates from a list:

In [ ]:
my_list = [1, 2, 2, 3, 4, 4, 5]
unique_list = list(set(my_list))
print(unique_list)

[1, 2, 3, 4, 5]

21. Find the common elements between two lists:

In [ ]:
list1 = [1, 2, 3, 4]
list2 = [3, 4, 5, 6]
common_elements = list(set(list1) & set(list2)) # ser intersection & used to find commone elements
print(common_elements)

[3, 4]

22. Find the difference between two lines:

In [ ]:
l1 = [1,2,3,4]
l2 = [3,4,5,6]
diff = list(set(l1) - set(l2))
print(diff)

[1, 2]

23. Merge two lists:

In [ ]:
l1 = [1,2,3]
l2 = [4,5,6]
merge_list = l1 + l2
print(merge_list)

[1, 2, 3, 4, 5, 6]

24. Multiply all element in a list by 2:

In [ ]:
my_list = [1, 2, 3, 4, 5]
multiplied_list = [num * 2 for num in my_list]
print(multiplied_list)

[2, 4, 6, 8, 10]

25. Filter out all even numbers from a list:

In [ ]:
my_list = [1, 2, 3, 4, 5, 6]
odd_numbers = [num for num in my_list if num % 2 == 0]
print(odd_numbers)

[2, 4, 6]

26. Convert a list of strings to a list of integers:

In [ ]:
st = ["1","2","3"]
int_list = [int(item) for item in st]
# int_list = list(map(int, st))
print(int_list)

[1, 2, 3]

27. Convert a list of integers to a list of strings:

In [ ]:
integer_list = [1, 2, 3]
string_list = [str(item) for item in integer_list]
print(string_list)

['1', '2', '3']

28. Flatten a nested list:

In [ ]:
nested_list = [[1, 2], [3, 4], [5, 6]]
flat_list = [item for sublist in nested_list for item in sublist]
print(flat_list)

[1, 2, 3, 4, 5, 6]

29. Create a list of the first 10 Fibonacci numbers:

In [ ]:
def fibonacci(n):
  fib_list = [0, 1]
  while len(fib_list) < n:
    next_fib = fib_list[-1] + fib_list[-2]
    fib_list.append(next_fib)
  return fib_list

first_10_fib = fibonacci(10)
print(first_10_fib)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

30. Check if a list is sorted:

In [ ]:
def is_sorted(my_list):
  return all(my_list[i] <= my_list[i + 1] for i in range(len(my_list) - 1))
# is_sorted = my_list == sorted(my_list)

my_list = [1, 2, 3, 4, 5]
sorted_check = is_sorted(my_list)
print(sorted_check)

True

31. Rotate a list to the left by n positions:

In [ ]:
def rotate_left(my_list, n):
  n = n % len(my_list)  # Handle rotations larger than list length
  return my_list[n:] + my_list[:n]

my_list = [1, 2, 3, 4, 5]
rotated_list = rotate_left(my_list, 2)
print(rotated_list)

[3, 4, 5, 1, 2]

32. Rotate a list to the right by n positions:

In [ ]:
def rotate_right(my_list, n):
  n = n % len(my_list)
  return my_list[-n:] + my_list[:-n]

my_list = [1, 2, 3, 4, 5]
rotated_list = rotate_right(my_list, 2)
print(rotated_list)

[4, 5, 1, 2, 3]

33. Create a list of prime numbers up to 50:

In [ ]:
def is_prime(n):
  if n < 2:
    return False
  for i in range(2, int(n**0.5) + 1):
    if n % i == 0:
      return False
  return True

primes = [num for num in range(2, 51) if is_prime(num)]
print(primes)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

34. Split a list into chunks of size n

In [ ]:
def split_list(my_list, chunk_size):
  return [my_list[i:i + chunk_size] for i in range(0, len(my_list), chunk_size)]

my_list = [1, 2, 3, 4, 5, 6, 7, 8]
chunks = split_list(my_list, 3)
print(chunks)

[[1, 2, 3], [4, 5, 6], [7, 8]]

35. Find the second largest number in a list:

In [ ]:
def second_largest(numbers):
    # removing duplicates using set
  unique_numbers = list(set(numbers))
  # if the list contains 0 or 1 elements
  if len(unique_numbers) < 2:
    return None # return nothing if there are insufficient elements to find the second largest.
  unique_numbers.sort()
  return unique_numbers[-2]  # Second largest is at index -2 after sorting

my_list = [1, 5, 3, 2, 4, 5]
second_largest_num = second_largest(my_list)
print(second_largest_num)

4

36. Replace every element in a list with its square:

In [ ]:
my_list = [1, 2, 3, 4, 5]
for i in range(len(my_list)):
  my_list[i] = my_list[i]**2
print(my_list)

[1, 4, 9, 16, 25]

37. Convert a list to a dictionary where list elements become keys and their indices become values:

In [ ]:
my_list = ['apple', 'banana', 'orange']
my_dict = {item: index for index, item in enumerate(my_list)}
print(my_dict   )

{'apple': 0, 'banana': 1, 'orange': 2}

38. Shuffle the elements of a list randomly:

In [ ]:
import random

my_list = [1, 2, 3, 4, 5]
random.shuffle(my_list)
print(my_list)

[5, 4, 2, 3, 1]

39. Create a list of the first 10 factorial numbers:

In [ ]:
import math
# math.factorial function from the math module is used to calculate the factorial of each number in the range 1 to 11 (exclusive)
factorials = [math.factorial(i) for i in range(1, 11)]
print(factorials)

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

40. Check if two lists have at least one element in common:

In [ ]:
def have_common_element(list1, list2):
  return any(item in list2 for item in list1)

list1 = [1, 2, 3]
list2 = [3, 4, 5]
common_check = have_common_element(list1, list2)
print(common_check)

True

41. Remove all elements from a list:

In [ ]:
l1.clear()
print(l1)

[]

42. Replace negative numbers in a list with 0:

In [ ]:
my_list = [1, -2, 3, -4, 5]
for i in range(len(my_list)):
  if my_list[i] < 0:
    my_list[i] = 0
print(my_list)

[1, 0, 3, 0, 5]

43. Convert a string into a list of words:

In [ ]:
def string_to_word_list(string):
  return string.split()

string = "This is a sentence."
word_list = string_to_word_list(string)
print(word_list)

['This', 'is', 'a', 'sentence.']

44. Convert a list of words into a string:

In [ ]:
def word_list_to_string(word_list):
  return " ".join(word_list)

word_list = ["This", "is", "a", "sentence."]
string = word_list_to_string(word_list)
print(string)

This is a sentence.

45. Create a list of the first n powers of 2:

In [ ]:
def powers_of_2(n):
  return [2**i for i in range(n)]

powers = powers_of_2(5)  # Creates a list of the first 5 powers of 2
print(powers)

[1, 2, 4, 8, 16]

46. Find the longest string in a list of strings:

In [ ]:
def longest_string(strings):
  return max(strings, key=len)

strings = ["apple", "banana", "orange", "grapefruit"]
longest = longest_string(strings)
print(longest)

grapefruit

47. Find the shortest string in a list of strings:

In [ ]:
def shortest_string(strings):
  return min(strings, key=len)

strings = ["apple", "banana", "orange", "grapefruit"]
shortest = shortest_string(strings)
print(shortest)

apple

48. Create a list of the first n triangular numbers:

In [ ]:
def triangular_numbers(n):
  return [i * (i + 1) // 2 for i in range(1, n + 1)]

triangulars = triangular_numbers(5)  # Creates a list of the first 5 triangular numbers
print(triangulars)

[1, 3, 6, 10, 15]

49. Check if a list contains another list as a subsequence:

In [ ]:
def is_subsequence(main_list, sub_list):
  sub_len = len(sub_list)
  for i in range(len(main_list) - sub_len + 1):
    if main_list[i:i + sub_len] == sub_list:
      return True
  return False

main_list = [1, 2, 3, 4, 5]
sub_list = [2, 3, 4]
result = is_subsequence(main_list, sub_list)
print(result)

True

50. Swap two elements in a list by their indices:

In [ ]:
def swap_elements(my_list, index1, index2):
  my_list[index1], my_list[index2] = my_list[index2], my_list[index1]

my_list = [1, 2, 3, 4, 5]
swap_elements(my_list, 1, 3)  # Swaps elements at indices 1 and 3
print(my_list)

[1, 4, 3, 2, 5]

# Sets

1. Create a set with integers from 1 to 5:

In [14]:
my_set = set(range(1, 6))
print(my_set)

{1, 2, 3, 4, 5}

2. Add an element to a set:

In [15]:
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 5, 6}

3. Remove an element from a set:

In [16]:
my_set.remove(3)
print(my_set)

{1, 2, 4, 5, 6}

In [17]:
# 4. Check if an element exists in a set:

if 4 in my_set:
    print("Element exists in the set")

Element exists in the set

In [18]:
# 5. Find the length of a set without using the len() function:

count = sum(1 for _ in my_set)
print(count)

5

In [ ]:
# 6. Clear all elements from a set:

my_set.clear()
print(my_set)

In [19]:
# 7. Create a set of even numbers from 1 to 10:

even_numbers = {num for num in range(2, 11, 2)}
print(even_numbers)

{2, 4, 6, 8, 10}

In [20]:
# 8. Create a set of odd numbers from 1 to 10:

odd_numbers = {num for num in range(1, 11, 2)}
print(odd_numbers)

{1, 3, 5, 7, 9}

In [21]:
# 9. Find the union of two sets:

set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1 | set2
print(union_set)

{1, 2, 3, 4, 5}

In [22]:
# 10. Find the intersection of two sets:

intersection_set = set1 & set2
print(intersection_set)

{3}

In [23]:
# 11. Find the difference between two sets:

difference_set = set1 - set2
print(difference_set)

{1, 2}

In [27]:
# 12. Check if a set is a subset of another set:

set1 = {1, 2}
set2 = {1, 2, 3, 4}

if set1.issubset(set2):
    print("set1 is a subset of set2")
else:
    print("set1 is not a subset of set2")

set1 is a subset of set2

In [28]:
# 13. Check if a set is a superset of another set:

set1 = {1, 2, 3, 4}
set2 = {2, 3}

if set1.issuperset(set2):
    print("set1 is a superset of set2")
else:
    print("set1 is not a superset of set2")

set1 is a superset of set2

In [26]:
# 14. Create a set from a list:

my_list = [1, 2, 3, 3, 4, 5]
my_set = set(my_list)
print(my_set)

{1, 2, 3, 4, 5}

In [29]:
# 15. Convert a set to a list:

my_list = list(my_set)
print(my_list)

[1, 2, 3, 4, 5]

In [30]:
# 16. Remove a random element from a set:

import random
removed_element = my_set.pop()  # Removes and returns an arbitrary element
print(removed_element)

1

In [31]:
# 17. Pop an element from a set:

element = my_set.pop()  # Raises KeyError if the set is empty
print(element)

2

In [34]:
# 18. Check if two sets have no elements in common:
set1 = {1, 2, 3, 4}
set2 = {2, 3}
if set1.isdisjoint(set2):
    print("Sets have no common elements")
else:
  print("Sets have common elements")

Sets have common elements

In [35]:
# 19. Find the symmetric difference between two sets:
set1 = {1, 2, 3, 4}
set2 = {2, 3}
symmetric_difference = set1 ^ set2
print(symmetric_difference)

{1, 4}

In [36]:
# 20. Update a set with elements from another set:

set1.update(set2)
print(set1)

{1, 2, 3, 4}

In [37]:
#21. Create a set of the first 5 prime numbers:

def is_prime(n):
  if n < 2:
    return False
  for i in range(2, int(n**0.5) + 1):
    if n % i == 0:
      return False
  return True

primes = {num for num in range(2, 51) if is_prime(num)}
first_5_primes = {num for num in primes if num <= 11}
print(first_5_primes)

{2, 3, 5, 7, 11}

In [38]:
# 22. Check if two sets are identical:
set1 = {1, 2, 3, 4}
set2 = {2, 3}
if set1 == set2:
    print("Sets are identical")
else:
  print("Sets are not identical")

Sets are not identical

In [39]:
# 23. Create a frozen set:

frozen_set = frozenset([1, 2, 3])
print(frozen_set)

frozenset({1, 2, 3})

In [40]:
# 24. Check if a set is disjoint with another set:

if set1.isdisjoint(set2):
    print("Sets are disjoint")

In [41]:
# 25. Create a set of squares of numbers from 1 to 5:

squares = {num**2 for num in range(1, 6)}
print(squares)

{1, 4, 9, 16, 25}

In [42]:
# 26. Filter out all even numbers from a set:

odd_numbers = {num for num in my_set if num % 2 != 0}
print(odd_numbers)

{3, 5}

In [43]:
# 27. Multiply all elements in a set by 2:

multiplied_set = {num * 2 for num in my_set}
print(multiplied_set)

{8, 10, 6}

In [44]:
# 28. Create a set of random numbers:

import random
random_numbers = {random.randint(1, 100) for _ in range(10)}
print(random_numbers)

{2, 99, 44, 78, 84, 52, 86, 56, 25, 95}

In [46]:
#29. Check if a set is empty:
my_set = set()

if not my_set:
    print("Set is empty")
else:
    print("Set is not empty")

Set is empty

In [48]:
# 30. Create a nested set (hint: use frozenset):

nested_set = {frozenset([1, 2]), frozenset([3, 4])}
print(nested_set)

{frozenset({3, 4}), frozenset({1, 2})}

In [49]:
#31. Remove an element from a set using the discard method:

my_set.discard(3)  # Doesn't raise KeyError if element not found
print(my_set)

set()

In [50]:
# 32. Compare two sets:

# Check for equality:
if set1 == set2:
    print("Sets are equal")

# Check for subset/superset relationships:
if set1.issubset(set2):
    print("set1 is a subset of set2")
if set1.issuperset(set2):
    print("set1 is a superset of set2")

set1 is a superset of set2

In [51]:
#33. Create a set from a string:

my_string = "hello"
my_set = set(my_string)
print(my_set)

{'e', 'o', 'h', 'l'}

In [52]:
#34. Convert a set of strings to a set of integers:

string_set = {"1", "2", "3"}
integer_set = {int(item) for item in string_set}
print(integer_set)

{1, 2, 3}

In [53]:
#35. Convert a set of integers to a set of strings:

integer_set = {1, 2, 3}
string_set = {str(item) for item in integer_set}
print(string_set)

{'2', '1', '3'}

In [54]:
#36. Create a set from a tuple:

my_tuple = (1, 2, 3, 3, 4, 5)
my_set = set(my_tuple)
print(my_set)

{1, 2, 3, 4, 5}

In [55]:
#37. Convert a set to a tuple:

my_tuple = tuple(my_set)
print(my_tuple)

(1, 2, 3, 4, 5)

In [56]:
#38. Find the maximum value in a set:

max_value = max(my_set)
print(max_value)

5

In [58]:
#39. Find the minimum value in a set:

min_value = min(my_set)
print(min_value)

1

In [61]:
#40. Create a set from user input:

elements = input("Enter elements separated by spaces: ").split()
user_set = set(elements)
print(user_set)

Enter elements separated by spaces:
set()

In [63]:
#41. Check if the intersection of two sets is empty:

if not (set1 & set2):
    print("Intersection is empty")

In [65]:
#42. Create a set of the first 5 Fibonacci numbers:

def fibonacci(n):
  fib_list = [0, 1]
  while len(fib_list) < n:
    next_fib = fib_list[-1] + fib_list[-2]
    fib_list.append(next_fib)
  return fib_list
first_5_fib = set(fibonacci(5))
print(first_5_fib)

{0, 1, 2, 3}

In [67]:
# 43. Remove duplicates from a list using sets:

my_list = [1, 2, 2, 3, 4, 4, 5]
unique_list = list(set(my_list))
print(unique_list)

[1, 2, 3, 4, 5]

In [71]:
#44. Check if two sets have the same elements, regardless of their count:
set1 = {1, 2, 3, 4}
set2 = {3, 1, 2, 4}
if set1 == set2:  # Checks for equality (same elements and count)
    print("Sets have the same elements and counts")
if len(set1 ^ set2) == 0: # Checks for equality of the sets.
    print("Sets have the same elements (ignoring counts)")

Sets have the same elements and counts
Sets have the same elements (ignoring counts)

In [74]:
#45. Create a set of the first n powers of 2:

def powers_of_2(n):
  return {2**i for i in range(n)}

powers = powers_of_2(5)  # Creates a set of the first 5 powers of 2
print(powers)

{1, 2, 4, 8, 16}

In [76]:
#46. Find the common elements between a set and a list:

my_set = {1, 2, 3, 4, 5}
my_list = [3, 4, 5, 6, 7]
common_elements = my_set.intersection(my_list)
print(common_elements)

{3, 4, 5}

In [77]:
#47. Create a set of the first n triangular numbers:

def triangular_numbers(n):
  return {i * (i + 1) // 2 for i in range(1, n + 1)}

triangulars = triangular_numbers(5)  # Creates a set of the first 5 triangular numbers
print(triangulars)

{1, 3, 6, 10, 15}

In [78]:
#48. Check if a set contains another set as a subset:

set1 = {1, 2, 3, 4, 5}
set2 = {2, 3, 4}

if set2.issubset(set1):
    print("set2 is a subset of set1")

set2 is a subset of set1

In [79]:
#49. Create a set of alternating 1s and 0s of length n:

def alternating_set(n):
  return {1 if i % 2 == 0 else 0 for i in range(n)}

alternating_numbers = alternating_set(5)
print(alternating_numbers)

{0, 1}

In [80]:
#50. Merge multiple sets into one:

set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}

merged_set = set1.union(set2, set3)
print(merged_set)

{1, 2, 3, 4, 5, 6, 7}

# Tuple :

In [82]:
#1. Create a tuple with integers from 1 to 5:

my_tuple = tuple(range(1, 6))
print(my_tuple)

(1, 2, 3, 4, 5)

In [84]:
#2. Access the third element of a tuple:

third_element = my_tuple[2]  # Indexing starts at 0
print(third_element)

3

In [86]:
#3. Find the length of a tuple without using the len() function:

count = sum(1 for _ in my_tuple)
print(count)

5

In [88]:
#4. Count the occurrences of an element in a tuple:

count = my_tuple.count(3)
print(count)

1

In [90]:
#5. Find the index of the first occurrence of an element in a tuple:

index = my_tuple.index(3)
print(index)

2

In [92]:
#6. Check if an element exists in a tuple:

my_tuple = (1, 2, 3, 4, 5)

if 3 in my_tuple:
    print("Element exists in the tuple")
else:
    print("Element does not exist in the tuple")

Element exists in the tuple

In [94]:
#7. Convert a tuple to a list:

my_list = list(my_tuple)
print(my_list)

[1, 2, 3, 4, 5]

In [96]:
#8. Convert a list to a tuple:

my_tuple = tuple(my_list)
print(my_tuple)

(1, 2, 3, 4, 5)

In [98]:
#9. Unpack the elements of a tuple into variables:

a, b, c, d, e = my_tuple
print(a, b, c, d, e)

1 2 3 4 5

In [100]:
#10. Create a tuple of even numbers from 1 to 10:

even_numbers = tuple(num for num in range(2, 11, 2))
print(even_numbers)

(2, 4, 6, 8, 10)

In [102]:
#11. Create a tuple of odd numbers from 1 to 10:

odd_numbers = tuple(num for num in range(1, 11, 2))
print(odd_numbers)

(1, 3, 5, 7, 9)

In [104]:
#12. Concatenate two tuples:

tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
concatenated_tuple = tuple1 + tuple2
print(concatenated_tuple)

(1, 2, 3, 4, 5, 6)

In [106]:
#13. Repeat a tuple three times:

repeated_tuple = tuple1 * 3
print(repeated_tuple)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [108]:
#14. Check if a tuple is empty:

empty_tuple = ()
if not empty_tuple:
    print("Tuple is empty")

Tuple is empty

In [118]:
#15. Create a nested tuple:
nested_tuple = ((1, 2), (3, 4), (5, 6))

print(nested_tuple[0])     # (1, 2)
print(nested_tuple[1][1])

(1, 2)
4

In [120]:
#16. Access the first element of a nested tuple:

first_element = nested_tuple[0][0]
print(first_element)

1

In [125]:
# 18. Compare two tuples:
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)

if tuple1 == tuple2:
    print("Tuples are equal")
else:
    print("Tuples are not equal")

Tuples are equal

In [127]:
#19. Delete a tuple:

my_tuple = (1, 2, 3)
print(my_tuple)

del my_tuple

(1, 2, 3)

In [128]:
#20. Slice a tuple:

my_tuple = (10, 20, 30, 40, 50)


sliced_tuple = my_tuple[1:4]
print(sliced_tuple)

(20, 30, 40)

In [130]:
#21. Find the maximum value in a tuple:

max_value = max(my_tuple)
print(max_value)

50

In [132]:
#22. Find the minimum value in a tuple:

min_value = min(my_tuple)
print(min_value)

10

In [134]:
#23. Convert a string to a tuple of characters:

my_string = "hello"
char_tuple = tuple(my_string)
print(char_tuple)

('h', 'e', 'l', 'l', 'o')

In [136]:
#24. Convert a tuple of characters to a string:

string_from_tuple = "".join(char_tuple)
print(string_from_tuple)

hello

In [137]:
#25. Create a tuple from multiple data types:

mixed_tuple = (1, "hello", 3.14, True)
print(mixed_tuple)

(1, 'hello', 3.14, True)

In [138]:
#26. Check if two tuples are identical.

def are_identical(tuple1, tuple2):
  return tuple1 == tuple2

tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)
result = are_identical(tuple1, tuple2)
print(result)

True

In [140]:
#27. Sort the elements of a tuple.

def sort_tuple(my_tuple):
  return tuple(sorted(my_tuple))  # sorted() returns a list, so convert it back to a tuple

my_tuple = (3, 1, 4, 1, 5, 9, 2, 6)
sorted_tuple = sort_tuple(my_tuple)
print(sorted_tuple)

(1, 1, 2, 3, 4, 5, 6, 9)

In [141]:
#28. Convert a tuple of integers to a tuple of strings.

def int_tuple_to_str_tuple(int_tuple):
  return tuple(str(item) for item in int_tuple)

int_tuple = (1, 2, 3)
str_tuple = int_tuple_to_str_tuple(int_tuple)
print(str_tuple)

('1', '2', '3')

In [142]:
#29. Convert a tuple of strings to a tuple of integers.

def str_tuple_to_int_tuple(str_tuple):
  return tuple(int(item) for item in str_tuple)

str_tuple = ('1', '2', '3')
int_tuple = str_tuple_to_int_tuple(str_tuple)
print(int_tuple)

(1, 2, 3)

In [143]:
#30. Merge two tuples.

def merge_tuples(tuple1, tuple2):
  return tuple1 + tuple2

tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
merged_tuple = merge_tuples(tuple1, tuple2)
print(merged_tuple)

(1, 2, 3, 4, 5, 6)

In [144]:
#31. Flatten a nested tuple.

def flatten_tuple(nested_tuple):
  flat_list = []
  for item in nested_tuple:
    if isinstance(item, tuple):
      flat_list.extend(flatten_tuple(item))
    else:
      flat_list.append(item)
  return tuple(flat_list)

nested_tuple = ((1, 2), (3, 4), (5, 6))
flat_tuple = flatten_tuple(nested_tuple)
print(flat_tuple)

(1, 2, 3, 4, 5, 6)

In [146]:
#32. Create a tuple of the first 5 prime numbers:

def is_prime(n):
  if n < 2:
    return False
  for i in range(2, int(n**0.5) + 1):
    if n % i == 0:
      return False
  return True

prime_numbers = tuple(num for num in range(2, 100) if is_prime(num) and num <=11)
print(prime_numbers)

(2, 3, 5, 7, 11)

In [148]:
#33. Check if a tuple is a palindrome:

def is_palindrome_tuple(my_tuple):
  return my_tuple == my_tuple[::-1]

my_tuple = (1, 2, 3, 2, 1)
if is_palindrome_tuple(my_tuple):
  print("The tuple is a palindrome.")
else:
  print("The tuple is not a palindrome.")

The tuple is a palindrome.

In [149]:
#34. Create a tuple of squares of numbers from 1 to 5:

squares_tuple = tuple(num**2 for num in range(1, 6))
print(squares_tuple)

(1, 4, 9, 16, 25)

In [151]:
#35. Filter out all even numbers from a tuple:

my_tuple = (1, 2, 3, 4, 5, 6)
odd_numbers_tuple = tuple(num for num in my_tuple if num % 2 != 0)
print(odd_numbers_tuple)

(1, 3, 5)

In [153]:
#36. Multiply all elements in a tuple by 2:

my_tuple = (1, 2, 3, 4, 5)
multiplied_tuple = tuple(num * 2 for num in my_tuple)
print(multiplied_tuple)

(2, 4, 6, 8, 10)

In [155]:
#37. Create a tuple of random numbers:

import random

random_tuple = tuple(random.randint(1, 100) for _ in range(10))
print(random_tuple)

(19, 31, 49, 21, 48, 2, 23, 62, 74, 27)

In [157]:
#38. Check if a tuple is sorted:

def is_sorted_tuple(my_tuple):
  return all(my_tuple[i] <= my_tuple[i + 1] for i in range(len(my_tuple) - 1))

my_tuple = (1, 2, 3, 4, 5)
if is_sorted_tuple(my_tuple):
  print("The tuple is sorted.")
else:
  print("The tuple is not sorted.")

The tuple is sorted.

In [159]:
#39. Rotate a tuple to the left by n positions:

def rotate_left_tuple(my_tuple, n):
  n = n % len(my_tuple)
  return my_tuple[n:] + my_tuple[:n]

my_tuple = (1, 2, 3, 4, 5)
rotated_tuple = rotate_left_tuple(my_tuple, 2)
print(rotated_tuple)

(3, 4, 5, 1, 2)

In [161]:
#40. Rotate a tuple to the right by n positions:

def rotate_right_tuple(my_tuple, n):
  n = n % len(my_tuple)
  return my_tuple[-n:] + my_tuple[:-n]

my_tuple = (1, 2, 3, 4, 5)
rotated_tuple = rotate_right_tuple(my_tuple, 2)
print(rotated_tuple)

(4, 5, 1, 2, 3)

In [163]:
#41. Create a tuple of the first 5 Fibonacci numbers:

def fibonacci(n):
  fib_list = [0, 1]
  while len(fib_list) < n:
    next_fib = fib_list[-1] + fib_list[-2]
    fib_list.append(next_fib)
  return fib_list

fibonacci_tuple = tuple(fibonacci(5))
print(fibonacci_tuple)

(0, 1, 1, 2, 3)

In [165]:
#42. Create a tuple from user input:

elements = input("Enter elements separated by spaces: ").split()
user_tuple = tuple(elements)
print(user_tuple)

Enter elements separated by spaces: 32 3r t3
('32', '3r', 't3')

In [167]:
#43. Swap two elements in a tuple:

# Tuples are immutable, so you would need to create a new tuple with the swapped elements.
def swap_elements_tuple(my_tuple, index1, index2):
  temp = list(my_tuple)  # Convert to a list to make it mutable
  temp[index1], temp[index2] = temp[index2], temp[index1]
  return tuple(temp)

my_tuple = (1, 2, 3, 4, 5)
swapped_tuple = swap_elements_tuple(my_tuple, 1, 3)
print(swapped_tuple)

(1, 4, 3, 2, 5)

In [169]:
#44. Reverse the elements of a tuple:

my_tuple = (1, 2, 3, 4, 5)
reversed_tuple = my_tuple[::-1]
print(reversed_tuple)

(5, 4, 3, 2, 1)

In [170]:
#45. Create a tuple of the first n powers of 2:

def powers_of_2_tuple(n):
  return tuple(2**i for i in range(n))

powers_tuple = powers_of_2_tuple(5)
print(powers_tuple)

(1, 2, 4, 8, 16)

In [171]:
#46. Find the longest string in a tuple of strings:

def longest_string_tuple(strings_tuple):
  return max(strings_tuple, key=len)

strings_tuple = ("apple", "banana", "orange", "grapefruit")
longest_string = longest_string_tuple(strings_tuple)
print(longest_string)

grapefruit

In [173]:
#47. Find the shortest string in a tuple of strings:

def shortest_string_tuple(strings_tuple):
  return min(strings_tuple, key=len)

strings_tuple = ("apple", "banana", "orange", "grapefruit")
shortest_string = shortest_string_tuple(strings_tuple)
print(shortest_string)

apple

In [175]:
#48. Create a tuple of the first n triangular numbers:

def triangular_numbers_tuple(n):
  return tuple(i * (i + 1) // 2 for i in range(1, n + 1))

triangulars_tuple = triangular_numbers_tuple(5)
print(triangulars_tuple)

(1, 3, 6, 10, 15)

In [177]:
#49. Check if a tuple contains another tuple as a subsequence:

def is_subsequence_tuple(main_tuple, sub_tuple):
  sub_len = len(sub_tuple)
  for i in range(len(main_tuple) - sub_len + 1):
    if main_tuple[i : i + sub_len] == sub_tuple:
      return True
  return False

main_tuple = (1, 2, 3, 4, 5)
sub_tuple = (2, 3, 4)
result = is_subsequence_tuple(main_tuple, sub_tuple)
print(result)

True

In [178]:
#50. Create a tuple of alternating 1s and 0s of length n:

def alternating_tuple(n):
  return tuple(1 if i % 2 == 0 else 0 for i in range(n))

alternating_numbers_tuple = alternating_tuple(5)
print(alternating_numbers_tuple)

(1, 0, 1, 0, 1)